*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: century gothic;
    overflow-x: hidden;
}
.logo{
    width: 140px;
    height:50px;
    background-image: url(swiggy-logo.webp);
    background-size: contain;
    background-repeat: no-repeat;
    
}
.container{
    width: 100%;
    height: 17vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 20px 10px rgba(114, 111, 111, 0.493);    
    column-gap: 230px;
    position: static;
    top: 0;

    /* border: 2px solid red; */
}
.container a{
    text-decoration: none;
    color: black;
    margin: 0 10px;
    font-size: 1.12em;
    font-weight: 600;
}
section{
    width: 80%;
    border: 2px solid red;
    justify-self: center;
}
.main_con{
    width: 100%;
    height: 12.5vh;
    display: flex;
    flex-direction: column;
    justify-self: start;
    align-items: center;
    margin-top: 10px;
   
}
.btn{
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 20px;
}
.btn button{
    width: 30px;
    height: 100%;
    border: none;
    border-radius: 50%;
    background-color: rgba(114, 111, 111, 0.493);
    color: rgb(0, 0, 0);
    font-size: 1.12em;
    font-weight: 600;
    cursor: pointer;
   
}
.slide{
    width: 120%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
     /* position: relative; */

}
.slide1, .slide2, .slide3{
    width: 40%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    position: relative;
    transform: translatex(-100px);
}
.slide1{
    opacity: 0.1;
}

.con1{
    height: 15vh;
    width: 100%;
    display: flex;
    align-items: center;
}
.btn1{ 
    display: flex;
    height: 10vh;
}
.btn1 button{
    width: 170px;
    height: 100%;
    border: none;
    border-radius: 29px;
    padding: 10px;
    background-color:#FC8019;
    color: rgb(0, 0, 0);
    font-size: 1.12em;
    font-weight: 600;
    cursor: pointer;
    margin-left: 4vw;
}
.btn1 input{
    width: 40vw;
     margin-left: 11vw;
     width: 36.25rem;
     border-radius: 10px;
}
input::placeholder{
    padding: 20px;
    font-size: 1.3em;
    font-weight: 600;
}
.card-box{
    height: 29rem;
    width: 382px;
    /* display: flex; */
    justify-content: center;
    /* transition: transform 0.4s ease; */
    border:2px solid red;
    
}
.card-top{
height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
position: relative;

}
.card-top img{
    height: 200px;
    width: 100%;
    position: absolute;


}
.card-top, .card-down{
    transition: transform 0.4s ease;
    border:2px solid red;
}
.card-box:hover{
   transform: scale(1.05);
}



