*{
    margin: 0;
    padding: 0;
}
body{
    height:max-content;
    width: 100%;
    overflow-x: hidden;
}
header{
    height: 110vh;
    min-width: 100%;
    /* border: 2px solid black; */
    background-color: #ff5200;

}
.nav{
    height: 10vh;
    width: 100%;
    margin: auto;
    /* border: 1px solid black; */
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px 0;
    position: relative;
}
.index_nav_left{
    height: 10vh;
    /* width: 40%; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.index_nav_left img{
    height: 5vh;
    
}
.index_nav_right{
    height: 10vh;
    /* width: 60%; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-wrap: nowrap;
    font-size: 1.2em;
}
.index_nav_right a{
    text-decoration: none;
    /* font-size: 1.5em; */
    color: #fff;
}
#index_nav_right_left_1  {
    height: 40px;
    width: 120px;
    border: 1px solid #fff;
    /* padding: 5px 15px; */
    font-size: 0.85em;
    font-weight: bold;
    background-color: #ff5200;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-radius: 8px;
    z-index: 20;
}
#index_nav_right_right_1{
    /* padding-left: 10px; */
    font-size: 0.85em;
    transform: rotate(-45deg) translateY(4px);
}
#index_nav_right_2{
    height: 40px;
    width: 120px;
    /* min-width: 150px; */
    /* border: 1px solid #fff;   */
    padding: 5px 20px;
    font-size: 1.3em;
    background-color: black;
    display: flex;
    align-items: center;
    border-radius: 20px;
}
.header_main{
    height: 500px;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content:space-between;
}
.header_main_left{
    height: 500px;
    
}
.header_main_right{
    height: 500px;

}
.main_containt{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 16px;
    /* order: 1; */
    margin-top: 50px;
}
.main_containt_1{
    width: 60%;
    text-align: center;
    margin: 0px auto;
    padding-left: 12px;
    color: rgb(255, 255, 255);
    font-family: Gilroy;
    font-size: 48px;
    font-weight: 600;
    letter-spacing: -0.3px;
    line-height: 56px;
    
}
.main_container{
    height: 10vh;
    width: 60%;
    margin: auto;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.main_container_left{
    height: 10vh;
    width: 40%;
    /* border: 2p solid #fff; */
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    
}
.main_container_left1_logo{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_container_left1_logo i{
    font-size: 30px;
    color: #ff5200;
}
.main_container_left2{
    height: 10vh;
    width: 70%;
    display: flex;
    justify-content: center;
}

.main_container_left2 input{
    width: 100%;
    border: none;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}
.main_container_left3{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_container_right{
    height: 10vh;   
    width: 55%;
    /* border: 2px solid #fff; */
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    /* justify-content: space-evenly; */

}
.main_contaier_right_left{
    height: 10vh;
    width: 60%;
    background-color: none;   
    margin-left: 8%;
}


.main_contaier_right_left input{
    width: 100%;
    height: 10vh;
    font-size: 1em;
    border: none;
}
.main_contaier_right_right{
    height: 10vh;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: end;
}
.header_down_main_container{
    height: 45vh;
    margin-top: 30px;
    width: 100%;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_down_main_container a{
    height: 45vh;
    width: 28%;
    /* border: 1px solid black; */
}
.header_down_container1{
    height: 45vh;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_down_container1 img{
    height: 40vh;
    width: 100%;
}
.header_down_container2{
    height: 45vh;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_down_container2 img{
    height: 40vh;
    width: 100%;
}
.header_down_container3{
    height: 45vh;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_down_container3 img{
    height: 40vh;
    width: 100%;
}
.header_main_left img{
    max-height: 450px !important;
    max-width: 250px !important;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 15vh;
}
.header_main_right img{
    max-height: 450px !important;
    max-width: 250px !important;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 15vh;
    margin-right: 0;
}

/****** header part finish *******/
.order{
    height: 70vh;
    width: 100%;
    /* border: 1px solid black; */
    margin-top: 20vh;
}
.order_our{
    height: 10vh;
    width: 80%;
    margin: auto;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.order_our_right{
    padding-right: 20px;
}
#order_our_right_left i{
    border: 1px solid black;
    padding: 5px;
    border-radius: 50%;
}
#order_our_right_right i{
    border: 1px solid black;
    padding: 5px;
    border-radius: 50%;
}
.product{
    max-height: 60vh;
    width: 80%;
    overflow: scroll;
    scrollbar-width: none;
     /* Firefox-ms-overflow-style: none; */
     background-color: #fff;
    margin: auto;
}
.product1{
    max-height: 30vh;
    /* border: 1px solid black; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 10px;
}
.product1 a{
    height: 28vh;
    width: 12vw;
}
.product2{
    height: 28vh;
    width: 12vw;
}
.product2 img{
    max-height: 28vh;
    max-width: 12vw;
}




/******* product1 ******/
.product3{
    max-height: 30vh;
    /* border: 1px solid black; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 10px;
}
.product3 a{
    max-height: 28vh;
    max-width: 12vw;
}
.product4{
    max-height: 28vh;
    max-width: 12vw;
}
.product4 img{
    max-height: 28vh;
    max-width: 12vw;
}

/****** project finish *******/


.shop{
    height: 40vh;
    width: 100%;
    /* border: 1px solid black; */
    margin-top: 20vh;
}
.shop_groceries{
    height: 10vh;
    width: 80%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.shop_groceries_right{
    padding-right: 20px;
}
#shop_groceries_right_left i{
    border: 1px solid black;
    padding: 5px;
    border-radius: 50%;
}
#shop_groceries_right_right i{
    border: 1px solid black;
    padding: 5px;
    border-radius: 50%;
}
.parent_instamart{
    height: 40vh;
    max-width: 100%;
    background-color: #fff;
    display: flex;
    
    /* border: 1px solid black; */
}
.instamart{
    height: 40vh;
    width: 80%;
    overflow: scroll;
    scrollbar-width: none;
     /* Firefox-ms-overflow-style: none; */
     /* background-color: #9e2525; */
     /* border: 1px solid black; */
     overflow-y: hidden;
     margin: auto;
}
.instamart_1{
    height: 40vh;
    /* border: 1px solid black; */
    display: flex;
    
    /* align-items: center; */
    gap: 3vw;
}
.instamart_1 a{
    height: 30vh;
    width: 12vw;

}

.instamart2{
    height: 28vh;
    width: 12vw;
    /* border: 1px solid black; */
}
.instamart2 img{
    height: 28vh;
    width: 12vw;
}
.instamart3{
    height: 28vh;
    width: 12vw;
    /* border: 1px solid black; */
    /* margin-left: 30px;    */
}
.instamart4{
    height: 28vh;
    width: 12vw;
    
}
.instamart4 img{
    height: 28vh;
    width: 12vw;
}
.instamart5{
    height: 10vh;
    width: 12vw;
    display: flex;

    /* border: 1px solid rgb(249, 52, 52); */
}
.instamart6{
    height: 10vh;
    width: 10vw;
    /* border: 1px solid black; */
    font-size: 26px;
    text-align: center;
    margin: auto;
    font-family: Gilroy;
    color: rgba(2, 6, 12, 0.75);

}


/****** discover start *********/


.discover{
    height: 70vh;
    width: 100%;
    /* border: 1px solid black; */
    margin-top: 20vh;
}
.restaurants{
    height: 60vh;
    width: 80%;
    margin: auto;
    /* border: 1px solid darkblue; */
}
.discover_best{
    height: 10vh;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.discover_best_right{
    padding-right: 20px;
}
#discover_best_right_left i{
    border: 1px solid black;
    padding: 5px;
    border-radius: 50%;
}
#discover_best_right_right i{
    border: 1px solid black;
    padding: 5px;
    border-radius: 50%;
}
.dineout{
    height: 60vh;
    width: 100%;
    /* overflow: scroll; */
    /* scrollbar-width: none; */
     /* Firefox-ms-overflow-style: none; */
     background-color: #fff;
}
.dineout_1{
    height: 55vh;
    /* border: 1px solid black; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 20px;
    overflow: scroll;
    scrollbar-width: none;

}
.dineout_1 a{
    height: 55vh;
    width: 20vw;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.te_amo_cafe_lounge{
    height: 50vh;
    width: 100vw;
    /* border: 1px solid red; */
    border-radius: 20px;
}
.te_amo_cafe_lounge img{
    height: 50vh;
    width: 100%;
    border-radius: 20px;
}

.cafe_autoholic{
    height: 50vh;
    width: 100vw;
    /* border: 1px solid red; */
    border-radius: 20px;
}
.cafe_autoholic img{
    height: 50vh;
    width: 100%;
    border-radius: 20px;
}
.chicken_mirch_masala{
    height: 50vh;
    width: 100vw;
    /* border: 1px solid red; */
    border-radius: 20px;
}
.chicken_mirch_masala img{
    height: 50vh;
    width: 100%;
    border-radius: 20px;
}
.signature_stop_cafe{
    height: 50vh;
    width: 100vw;
    /* border: 1px solid red; */
    border-radius: 20px;
}
.signature_stop_cafe img{
    height: 50vh;
    width: 100%;
    border-radius: 20px;
}
.wokao{
    height: 50vh;
    width: 100vw;
    /* border: 1px solid red; */
    border-radius: 20px;
}
.wokao img{
    height: 50vh;
    width: 100%;
    border-radius: 20px;
}
.usha_dawn_of_bengali{
    height: 50vh;
    width: 100vw;
    /* border: 1px solid red; */
    border-radius: 20px;
}
.usha_dawn_of_bengali img{
    height: 50vh;
    width: 100%;
    border-radius: 20px;
}
.ali_one_restaurant{
    height: 50vh;
    width: 100vw;
    /* border: 1px solid red; */
    border-radius: 20px;
}
.ali_one_restaurant img{
    height: 50vh;
    width: 100%;
    border-radius: 20px;
}

.the_sugarr_and_spice{
    height: 50vh;
    width: 100vw;
    /* border: 1px solid red; */
    border-radius: 20px;
}
.the_sugarr_and_spice img{
    height: 50vh;
    width: 100%;
    border-radius: 20px;
}

.burgerizzer{
    height: 50vh;
    width: 100vw;
    /* border: 1px solid red; */
    border-radius: 20px;
}
.burgerizzer img{
    height: 50vh;
    width: 100%;
    border-radius: 20px;
}

.nyc_times_square{
    height: 50vh;
    width: 100vw;
    /* border: 1px solid red; */
    border-radius: 20px;
}
.nyc_times_square img{
    height: 50vh;
    width: 100%;
    border-radius: 20px;
}

.tall_tales{
    height: 50vh;
    width: 100vw;
    /* border: 1px solid red; */
    border-radius: 20px;
}
.tall_tales img{
    height: 50vh;
    width: 100%;
    border-radius: 20px;
}

.hola{
    height: 50vh;
    width: 100vw;
    /* border: 1px solid red; */
    border-radius: 20px;
}
.hola img{
    height: 50vh;
    width: 100%;
    border-radius: 20px;
}

.lenin_crusises{
    height: 50vh;
    width: 100vw;
    /* border: 1px solid red; */
    border-radius: 20px;
}
.lenin_crusises img{
    height: 50vh;
    width: 100%;
    border-radius: 20px;
}
.panvham_er_adday{
    height: 50vh;
    width: 100vw;
    /* border: 1px solid red; */
    border-radius: 20px;
}
.panvham_er_adday img{
    height: 50vh;
    width: 100%;
    border-radius: 20px;
}
.vedanta{
    height: 50vh;
    width: 100vw;
    /* border: 1px solid red; */
    border-radius: 20px;
}
.vedanta img{
    height: 50vh;
    width: 100%;
    border-radius: 20px;
}
.zahtar{
    height: 50vh;
    width: 100vw;
    /* border: 1px solid red; */
    border-radius: 20px;
}
.zahtar img{
    height: 50vh;
    width: 100%;
    border-radius: 20px;
}
.spice_it_idis_hote{
    height: 50vh;
    width: 100vw;
    /* border: 1px solid red; */
    border-radius: 20px;
}
.spice_it_idis_hote img{
    height: 50vh;
    width: 100%;
    border-radius: 20px;
}
.afterhours_pub{
    height: 50vh;
    width: 100vw;
    /* border: 1px solid red; */
    border-radius: 20px;
}
.afterhours_pub img{
    height: 50vh;
    width: 100%;
    border-radius: 20px;
}
.rendezbous_hotel_monotel{
    height: 50vh;
    width: 100vw;
    /* border: 1px solid red; */
    border-radius: 20px;
}
.rendezbous_hotel_monotel img{
    height: 50vh;
    width: 100%;
    border-radius: 20px;
}
.vertex_fairfieid_by_marriott{
    height: 50vh;
    width: 100vw;
    /* border: 1px solid red; */
    border-radius: 20px;
}
.vertex_fairfieid_by_marriott img{
    height: 50vh;
    width: 100%;
    border-radius: 20px;
}
.fiy_kouzina{
    height: 50vh;
    width: 100vw;
    /* border: 1px solid red; */
    border-radius: 20px;
}
.fiy_kouzina img{
    height: 50vh;
    width: 100%;
    border-radius: 20px;
}
.la_poinoz_pizza{
    height: 50vh;
    width: 100vw;
    /* border: 1px solid red; */
    border-radius: 20px;
}
.la_poinoz_pizza img{
    height: 50vh;
    width: 100%;
    border-radius: 20px;
}
.masala_wok_bar_kitchen{
    height: 50vh;
    width: 100vw;
    /* border: 1px solid red; */
    border-radius: 20px;
}
.masala_wok_bar_kitchen img{
    height: 50vh;
    width: 100%;
    border-radius: 20px;
}
.pa_pa_ya{
    height: 50vh;
    width: 100vw;
    /* border: 1px solid red; */
    border-radius: 20px;
}
.pa_pa_ya img{
    height: 50vh;
    width: 100%;
    border-radius: 20px;
}
.tasty_treat{
    height: 50vh;
    width: 100vw;
    /* border: 1px solid red; */
    border-radius: 20px;
}
.tasty_treat img{
    height: 50vh;
    width: 100%;
    border-radius: 20px;
}
.momo_raja{
    height: 50vh;
    width: 100vw;
    /* border: 1px solid red; */
    border-radius: 20px;
}
.momo_raja img{
    height: 50vh;
    width: 100%;
    border-radius: 20px;
}
.craft_coffee_experience{
    height: 50vh;
    width: 100vw;
    /* border: 1px solid red; */
    border-radius: 20px;
}
.craft_coffee_experience img{
    height: 50vh;
    width: 100%;
    border-radius: 20px;
}
.the_buffelt{
    height: 50vh;
    width: 100vw;
    /* border: 1px solid red; */
    border-radius: 20px;
}
.the_buffelt img{
    height: 50vh;
    width: 100%;
    border-radius: 20px;
}
.aami_bangali{
    height: 50vh;
    width: 100vw;
    /* border: 1px solid red; */
    border-radius: 20px;
}
.aami_bangali img{
    height: 50vh;
    width: 100%;
    border-radius: 20px;
}
.pawan_putra{
    height: 50vh;
    width: 100vw;
    /* border: 1px solid red; */
    border-radius: 20px;
}
.pawan_putra img{
    height: 50vh;
    width: 100%;
    border-radius: 20px;
}
/************discover **************/

.App_download_banner{
    height: 50vh;
    width: 100%;
}
.App_download_banner img{
    height: 50vh;
    width: 100%;
}
/******* Cities with food delivery *******/
.food_delivery{
    height: 50vh;
    width: 75%;
    /* border: 1px solid black; */
    margin: auto;
}
.food_delivery_top{
    height: 10vh;
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin-top: 15vh;
}
.food_delivery_buttom{
    height: 45vh;
    /* width: 100%; */
    /* border: 1px solid blueviolet; */
    display: flex;
    flex-wrap: wrap;
    margin-top: 12px;
    gap: 20px;
    font-size: 22px;
    overflow: scroll;
    scrollbar-width:auto;
    /* scrollbar-height:auto; */
    /* Firefox-ms-overflow-style: none; */
}
.food_delivery_buttom_container{
    width: 35vh;
    height: 10vh;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.food_delivery_buttom a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
/****** Cities with grocery delivery ******/
.grocery_delivery{
    height: 60vh;
    width: 75%;
    /* border: 1px solid black; */
    margin: auto;
}
.grocery_delivery_top{
    height: 10vh;
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin-top: 15vh;
}
.grocery_delivery_buttom{
    height: 40vh;
    /* width: 100%; */
    /* border: 1px solid blueviolet; */
    display: flex;
    flex-wrap: wrap;
    /* margin-top: 12px; */
    gap: 20px;
    
    overflow: scroll;
    scrollbar-width:auto;
    /* scrollbar-height:auto; */
    /* Firefox-ms-overflow-style: none; */
}
.grocery_delivery_buttom_container{
    width: 30vh;
    height: 10vh;
    border: 1px solid black;
    border-radius: 10px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    
}

.grocery_delivery_buttom a{
    text-decoration: none;
    display: flex;
    font-size: 22px;
    /* justify-content: center;
    align-items: center; */
    flex-wrap: wrap;
}
.footer{
    height: 70vh;
    width: 100%;
    background-color: rgb(246, 244, 241);
}
.footer_part{
    height: 50vh;
    width: 70%;
    /* border: 1px solid black; */
    display: grid;
    margin: auto;
    gap: 50px;
    /* background-color: #fff; */
    grid-template-columns: 3fr 2fr 2fr 2fr 2fr;
    grid-template-rows: repeat(1, 1fr);
}
.footer_part1{
    /* background-color: aqua; */

}
.footer_part_logo{
    height: 10vh;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ff5200;
}
.footer_part_logo img{
    height: 8vh;
    color: #ff5200;
}
.copyright{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(2, 6, 12, 0.6);
}


.company{
    font-family: Gilroy;
    color: rgba(2, 6, 12, 0.6);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(9,1fr);
    gap: 10px;
    margin-top: 30px;
}
.company a{
    text-decoration: none;
    font-size: 15px;
    font-family: Gilroy;
    color: rgba(2, 6, 12, 0.6);

}
.company2{
    font-family: Gilroy;
    color: black;
    font-size: 20px;
}
.contact_us{
    font-family: Gilroy;
    color: rgba(2, 6, 12, 0.6);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 10px;
    margin-top: 30px;
}
.contact_us a{
    text-decoration: none;
    font-size: 15px;
    font-family: Gilroy;
    color: rgba(2, 6, 12, 0.6);

}
.contact_us2{
    font-family: Gilroy;
    color: black;
    font-size: 20px;
}
.large{
    font-family: Gilroy;
    color: rgba(2, 6, 12, 0.6);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 10px;
    margin-top: 30px;
}
.large2{
    font-family: Gilroy;
    color: black;
    font-size: 20px;
}
.large a{
    text-decoration: none;
    font-size: 15px;
    font-family: Gilroy;
    color: rgba(2, 6, 12, 0.6);

}
.available{
    font-family: Gilroy;
    color: rgba(2, 6, 12, 0.6);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 10px;
    margin-top: 30px;
}
.available2{
    font-family: Gilroy;
    color: black;
    font-size: 20px;
}
.available a{
    text-decoration: none;
    font-size: 15px;
    font-family: Gilroy;
    color: rgba(2, 6, 12, 0.6);

}
.available3{
    font-family: Gilroy;
    color: rgba(2, 6, 12, 0.6);
    font-size: 20px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px ;
    padding: 0 5px;
}
.life_at_swiggy{
    font-family: Gilroy;
    color: rgba(2, 6, 12, 0.6);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 10px;
    margin-top: 30px;
}
.life_at_swiggy2{
    font-family: Gilroy;
    color: black;
    font-size: 20px;
}
.life_at_swiggy a{
    text-decoration: none;
    font-size: 15px;
    font-family: Gilroy;
    color: rgba(2, 6, 12, 0.6);

}
.social_link{
    margin-top: 10vh;

}
.social_link1{
    font-family: Gilroy;
    color: black;
    font-size: 20px;
}
.social_link1 a{
    text-decoration: none;
    font-size: 15px;
    font-family: Gilroy;
    color: black;
}
.social_link_logo a i{
    color: black;
}
.social_link_logo{
    height: 5vh;
    display: flex;
    gap: 15px;
    padding: 10px ;
}
hr{
    width: 80%;
    margin: auto;
}
.down_footer{
    height: 10vh;
    width: 100%;
    /* border: 1px solid rgb(214, 7, 7); */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 33px;
    gap: 32px;
}
.down_footer1{
    font-family: Gilroy;
    font-size: 25px;
    /* border: 1px solid black; */
    height: 10vh;
    display: flex;
    align-items: center;
}
.down_footer2{
    height: 10vh;
    width: 12vw;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    background-color: black;
    border-radius: 5px;
     transition: transform 0.3s ease;
    
}
.down_footer2:hover{
    transform: scale(1.08);
}
.down_footer_downlode_app{
    padding-left: 15px;
}
.down_footer2 a i{
    text-decoration: none;
    font-size: 50px;
    height: 10vh;
    text-decoration: none;
    color: #fff;
    padding-top: 15px;
}
.down_footer2 a{
    text-decoration: none; 
    color: #fff;  
}
#down_footer_downlode{
    font-family: 15px;
}
#down_footer_app_store{
    font-size: 25px;
}

.down_footer3{
    height: 10vh;
    width: 12vw;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    background-color: black;
    border-radius: 5px;
     transition: transform 0.3s ease;
    
}
.down_footer3:hover{
    transform: scale(1.08);
}
.down_footer_downlode_app{
    padding-left: 15px;
}
.down_footer3 a i{
    text-decoration: none;
    font-size: 50px;
    height: 10vh;
    text-decoration: none;
    color: #fff;
    padding-top: 15px;
}
.down_footer3 a{
    text-decoration: none; 
    color: #fff;  
}
#down_footer_downlode{
    font-family: 15px;
}
#google_play{
    font-size: 22px;
}
